.cardHubOuter {
  align-self: center;
  flex: 1 0 0;
  margin: 25px;
  width: 90%;
}

.cardHub {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--card-width), 100%), 1fr)
  );
  gap: 1rem;
}

.searchOuter {
  border-bottom: 2px solid black;
}

@media all and (max-width: 460px) {
  .cardHub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}
