.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Calibri", -apple-system;
}

.outer > hr {
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    black 50%,
    transparent 100%
  );
  border: 0;
  width: 95%;
  height: 1px;
}

.histOuter {
  width: 100%;
}
.histInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.histList {
  padding: 0;
}
