.formOuter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  max-width: 480px;
}

.formInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.formTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.fb {
  font-weight: 600;
  font-size: 18px;
  color: lightslategray;
  background-color: white;
  border: none;
  box-shadow: 0 6px 8px rgba(9, 30, 66, 0.5);
  cursor: pointer;
  width: 125px;
  height: 36px;
  margin: 10px;
  transition: 0.2s ease-out;
}

.formButton {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid transparent;
  border-color: #000;
  line-height: 15px;
  transition: background-color 0.1s ease-in-out;
}

.formButton[type="submit"] {
  color: black;
  background-color: white;
}

.formButton[type="submit"]:hover {
  color: white;
  background-color: black;
}

.formButton[type="submit"]:disabled,
.formButton[type="submit"]:disabled:hover {
  color: rgba(119, 136, 153, 0.75);
  background-color: white;
}

.formError {
  align-self: flex-start;
  font-size: 12px;
  color: red;
  margin-bottom: 10px;
}

.formSelectError {
  font-size: 12px;
  color: red;
}
